<nav class="navBar">
    <a href="/cart">Cart</a>
    <a href="/products">Products</a>
    <a href="/createProducts">Create Products</a>
</nav>
<h1>Products</h1>

<div class="productsContainer">
    {{#if products.length}}
    {{#each products}}
    <div class="product">
        <img src={{image}}>
        <p class="title">{{title}}</p>
        <p class="price">${{price}}</p>
        <button id={{_id}} class="addToCart">Add to cart</button>
        <button id={{_id}} class="details">Details</button>
        <button id={{_id}} class="delete">Delete</button>
    </div>
    {{/each}}
    {{else}}
    <h2>No hay productos disponibles</h2>
    {{/if}}
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>