<div class="productDetails">
        {{#each product}}
            <h1>{{title}}</h1>
            <img src={{thumbnail}}>
            <p>{{description}}</p>
            <p>{{price}}</p>
            <p>{{stock}}</p>
            <p>{{category}}</p>
        {{/each}}
</div>